.build-item,
.build-float {
    fill: #00ff09;
    stroke: #0f0;
    stroke-width: 4px;
    fill-opacity: 0;
    stroke-opacity: 0;
    cursor: pointer;
    transition: .3s;
    &:hover {
        fill-opacity: 0.3;
        stroke-opacity: 1;
    }
    &.sold {
        fill-opacity: 0.4;
        stroke-opacity: 0.7;
        fill: #ff2d2d;
        stroke: #ff2d2d;
        cursor: no-drop;
    }
}

.information {
    color: #fff;
    background: #121212;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-list {
        list-style: none;
        display: flex;
        gap: 18px;
        text-align: center;
    }
}

/*.btn {
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    &.btn-primary {
        background-color: chocolate;
        color: #fff;
    }

    &.btn-secondary {
        background-color: chartreuse;
    }

    &:hover {
        opacity: .8;
    }
}*/

.btn {
    display: inline-block;
    padding: 10px 15px 12px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    background-color: #000000;
    color: #A9A5A5;
    font-size: 16px;
    font-family: monospace;
    cursor: pointer;
    transition: .3s;

    &:hover {
        background-color: #ffae4a;
        color: #000;
    }

}



